#confirm-password {
  background-image: url('../../../public/images/icons/home/password.png');
  background-repeat: no-repeat;
  background-position: 1rem 1.35rem;
  padding-left: 3rem !important;
}

#email {
  background-image: url('../../../public/images/icons/register/mail.png');
  background-repeat: no-repeat;
  background-size: 1.7rem;
  background-position: 1rem 1.55rem;
  padding-left: 3rem !important;
}
